
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="~/web-Admin-Login/style.css">
</head>
<body>
    <div class="container">
        <div class="contact-form">
            <img src="~/web-Admin-Login/admin-sign-laptop-icon-stock-vector-166205404.jpg" class="admin-img">
            <h2>Admin Giriş</h2>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="txtb">
                    <input type="text" name="KullaniciAdi" placeholder="Kullanıcı Adı">
                </div>
                <div class="txtb">
                    <input type="password" name="sifre" placeholder="Şifre">
                </div>
                <input type="submit" class="logbtn" value="Giriş">

            }



        </div>

    </div>
</body>
</html>
